<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Keith Kitten's Records</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li>
            <a href="/artists/new">Add Artist</a>
          </li>
          <li>
            <a href="/albums/new">Add Album</a>
          </li>
          <li>
            <a href="/stocks/new">Add Inventory</a>
          </li>
          <li>
            <a href="/albums">View Inventory</a>
          </li>
          <li>
            <a href="artists">View Artists</a>
          </li>
        </ul>
      </nav>
      <section>
        <%= yield %>
      </section>
    </main>
  </body>
</html>
