<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Keith Kitten's Records</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <header>
      <img src="https://i.pinimg.com/736x/ee/10/7a/ee107aadc78e9645bb74e7cea778abab--vinyl-records-kittens.jpg" width=256 height=192 alt="Cute_kitten_gif">
      <!-- <img src="https://media.giphy.com/media/Mc3yOYQDoXCj6/giphy.gif" alt="Cute_kitten_gif"> -->
      <h1>Keith Kitten's Records</h1>
    </header>
    <main class="flex flex--row">
      <br>
      <nav>
        <ul>
          <li>
            <form action="/artists/new" method="GET">
              <input class="btn --fw" type="submit" value="Add Artist" />
            </form>
          </li>
          <li>
            <form action="/albums/new" method="GET">
              <input class="btn --fw" type="submit" value="Add Album" />
            </form>
          </li>
          <!-- <li>
            <form action="/stocks/new" method="GET">
              <input class="btn --fw" type="submit" value="Add Inventory" />
            </form>
          </li> -->
          <li>
            <form action="/artists" method="GET">
              <input class="btn --fw" type="submit" value="Artists" />
            </form>
          </li>
          <li>
            <form action="/albums" method="GET">
              <input class="btn --fw" type="submit" value="Albums" />
            </form>
          </li>
          <li>
            <form action="/stocks" method="GET">
              <input class="btn --fw" type="submit" value="Inventory" />
            </form>
          </li>
          <li>
            <form action="/sales" method="GET">
              <input class="btn --fw" type="submit" value="Sales" />
            </form>
          </li>
        </ul>
      </nav>
      <section id="yield_content">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
