
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /*border: 2px solid green;*/
}

th, td {
  padding: 10px;
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: grey;
}

tbody tr:nth-child(even) {
  background-color: white;
}

.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: olive;
  cursor:pointer;
}

.flex {
  display: inline-flex;
}

.flex--row {
  flex-direction: row;
}

main {
  padding: 20px;
}


#yield_content {
  padding-left: 15px;
}
