main {
  padding: 20px;
}

body {
  font-family: tahoma;
  background-color: Moccasin;
}


table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  align-self: right;
}

.album_table {
  flex: inline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: tahoma, cursive;
  margin: 0px;
  padding: 0px;
}


th, td {
  padding: 10px;
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: grey;
}

tbody tr:nth-child(even) {
  background-color: Moccasin;
}

.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: black;
  cursor:pointer;
}

.flex {
  display: inline-flex;
}

.flex--row {
  flex-direction: row;
}



#yield_content {
  padding-left: 15px;
}
