<table id="album_table">
  <caption>Albums</caption>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <input type="button" name="Edit" url="/albums/<%= album.id %>/edit" value="">
          <td><%= album.title %></td>
          <td><%= album.artist.name %></td>
      </tr>
    <% end %>
  </tbody>

</table>
