<table id="album_table">
  <caption>Albums</caption>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Format</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <a href="/albums/<%= album.id %>/edit">Edit Album Details</a>
          <td><%= album.title %></td>
          <td><%= album.artist.name %></td>
          <td><%= album.format %></td>
      </tr>
    <% end %>
  </tbody>

</table>
