<form class="add_form" action="/artists" method="post">
  <label for="artist_name_input">Artist Name: </label>
  <input class="" type="text" name="name" value="">
  <input class="btn" type="submit" value="Add Artist">
</form>
